@font-face {
 font-family: "Roboto";
 src: url("Fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
      url("Fonts/Roboto/Roboto-Light.ttf") format("truetype"),
}
@font-face{
	font-family: "Shrikhand";
	src: url("Fonts/shrikhand/Shrikhand-Regular.otf") format("opentype");
		 
}
*{
	font-family: "Roboto";
}
body{margin: 0 0px;
	background-color: #f6f6f6;
	
}

a{text-decoration: none;}



.header__logo_container{
	text-align: center;
	width: 100%;
	background: #fff;
	
	
}
	.logo{
		width: 40%;
		height: 40%;
		
		margin-top: 20px;
		margin-bottom: 20px;
	}
.location{
	
	font-size: 15px;
	background:#eaeaea;
	margin: 0 0px;
	
}
	.location__container{
		height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		box-shadow: 0px 4px 15px 5px rgba(0,0,0,0.09) inset;
	}
		.location i{
			padding-top: 13px;
			padding-right: 8px;
			margin-left: -10px;
		}
		.location p{
			margin-top: 12px;

		}

	.explorer{
		
		background: #f6f6f6;
		
		width: 100%;
		height: 300px;
		margin: 0 0px;
		display: flex;
		flex-direction: column;
		
		text-align: center;
		align-content: flex-start;
	}
		.explorer__txt_container{
			justify-content: center;
		}
			.explorer__txt_container p{
				font-weight: lighter;
			}
		.explorer__btn_container{
			justify-content: center;
		}
		.explorer h2{
			flex-wrap: wrap;
		}
		
		.explorer button{
			width:250px; 
			height:50px;
			border-radius: 30px;
			background: rgb(255,121,218);
			background: linear-gradient(196deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
			color: white;
			font-size: 15px;
			border: none;
			box-shadow: 1px 7px 5px -3px rgba(0,0,0,0.23);
			margin-top: 20px;

		}

	.fonctionnement{
		
		background-color: #fff;
		
		display: flex;
		flex-direction: column;

	}
		.fonctionnement h2{
			margin-left: 30px;
		}
	.fonct__grid{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -30px;
		
		

	}
		.fonctionnement li{
			list-style-type: none;
			display: flex;
			
			border-radius: 20px;
			background-color: #f6f6f6;
			
			width: 90%;
			height: 80px;
			margin-bottom: 20px;
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);

		}
			.fonctionnement li:active{
				background-color: #f5edff;
			}
			.fonctionnement span{
				    background: #9356DC;
    				border-radius: 50%;
    				width: 8px;
    				height: 8px;
    				padding: 12px 12px;
    				margin-top: 20px;
    				margin-left: -13px;
    				display: flex;
    				align-items: center;
    				justify-content: center;
    				color: #fff;
			}

				.fonct__inside_tile{
					display: flex;
					flex-direction: row;
					width: 100%;
					
					justify-content: space-around;
					padding-top: 25px;
					
					

				}
					.fonctionnement i{
					
					color: #7e7e7e;
					margin-top: 3px;

				}
					.fonctionnement li:active i{
						color: #9356dc;
					}
					.fonct__inside_tile p{
						padding-right: 15px;
						margin-top: 2px;
					}
						.fusion-icon{
							display: flex;
						}

					
				
				
			
	.resto__grid{
		background: #f6f6f6;
		width: 100%;
	}
		.resto__grid_container{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 0px;
			
			

		}
			.resto__grid_title{
				
				margin-bottom: 20px;
				margin-left: 30px;
				
			}	
			.resto_tile-link{
				width: 70%;
			}
			.resto_tile{
				
				height: 200px;
				width: 100%;
				margin: 0 0;
				border-radius: 5%;
				background: #fff;
				margin-bottom: 20px;
				position: relative;
				box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);	
			}
				.resto_tile_image{
					object-fit: cover;
					width: 100%;
					height: 70%;
					border-radius: 5% 5% 0 0;
				}
					.resto_tile-new{
						display: flex;
						position: absolute;
						top: 15px;
						right: 15px;
						color: #008766;
						background: #99E2D0;
						width: 80px; 
						justify-content: center;
						border-radius: 5%;
						font-size: 10px;
					}
				.resto_tile_annex{
					font-size: 20px;
					display: flex;
					justify-content: space-between;
					
				}
					.resto_tile_annex-text a{
						margin-left: 5%;
						height: 10%
						flex-wrap: nowrap;

					}
					.resto_tile_annex-text{
						margin-left: 10%;
						font-size: 10px;
						width: 100%;
						color: #000;
						
					}
			
						.resto_tile_annex-text p{
							margin-top: -10px;
							font-weight: lighter;
						}

						.ac-footer-container{
							position: relative;
							right: 50px;
							margin-top: 10px;
						}
							.ac-footer-container i{
								
							}
					
.footer{
	background: #353535;
	height: auto;
	width: 100%;
	
	

}
	.footer__logo{
		font-family: "Shrikhand";
		color: #fff;
		font-size: 20px;
		margin-left: 30px;
		
		
	}
	.footer__link{
		color: #fff;
		text-decoration: none;
	}
	.footer__link_li{
		list-style-type: none;
		margin-bottom: 10px;
	}
		.footer__link_li i{
			color: white;
			margin-right: 20px;
			
			
		}

@media (min-width: 601px) and (max-width: 801px){
	.explorer{
		height: 250px;
	}
	.fonctionnement h2{
		text-align: center;
	}
	.fonctionnement li{
			width: 65%;
		}
		.fonct__inside_tile{
			width: 85%;
		}
		.fonct__inside_tile p{
			padding-right: 50px;
		}
		.resto__grid_title {
    		text-align: center;
		}
	
	.resto_tile{
		width:56%;
		height: 250px;
	}
	.resto_tile_annex-text{
		font-size: 12px;
	}
	.footer__logo{
		margin-left: 0px;
	}
	.footer__container{
		display: flex;
		flex-direction: column;
		
		text-align: center;

	}
	.footer__container ul{
		margin-left: -50px;
	}
}
@media (min-width: 801px) {
	.header__logo_container{
		height: 100px;
	}
	.explorer{
		width: 50%;
	
		margin-left: 25%;
		height: 250px;
	}
	.fonctionnement h2{
		text-align: center;
	}
	.fonct__grid{
		width: 40%;
		margin-left: 27%;
	}
	.fonct__inside_tile{
		justify-content: space-evenly;

	}
	.fonct__inside_tile p{
		padding-right: 85px;
	}
	.resto__grid{
		
	}
	.resto__grid_title{
		text-align: center;
	}
	.resto__grid_container{
		
		width: 70%;
		height: 100%;
		justify-content: space-around;
		margin-left: 14%;
	}
	.resto_tile{
		width: 20%;
	}
	.footer__logo{
		margin-left: 0px;
	}
	.footer__container{
		display: flex;
		flex-direction: column;
		
		text-align: center;

	}
	.footer__container ul{
		margin-left: -50px;
	}
}