@font-face{
	font-family: "Shrikhand";
	src: url("Fonts/shrikhand/Shrikhand-Regular.otf") format("opentype");	 
}
body{
	
	margin: 0px;

}
.header__logo_container{
	display: inline-flex;
	

}
.back_to_index{
	font-size: 20px;
	margin-top: 6%;
	width: 20%;
	
}
	.back_to_index i{
		
		color: #353535;
	}

	.logo{
		
		margin-left: 32px;
	}

.background_image{
	width: 100%;
	object-fit: cover;
	z-index: 2;
}
.menu__container{
	
	
}

.menu__grid{

	background-color: #f6f6f6;
}
.resto_name{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
	
}

.resto_title{
	font-family: "Shrikhand";
	font-size: 25px;
background-color: #f6f6f6;
position: relative;
z-index: 4;
margin-top: -90px;
padding-top: 28px;
padding-left: 25px;

border-radius: 40px 40px 0px 0px;


letter-spacing: normal;
width: 100%;	
}

.ac-footer{
margin-left: 98%;
margin-top: -33px;
}	

	.menu__title{
		padding-bottom: 5px;
		border-bottom: 5px solid #99e2d0;
		width: 5%;
		margin-left: 9%;
		font-weight: normal;
	}
	.menu__list{
		
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

	}

		.menu__tile{
			background-color: #fff;
			list-style-type: none;
			height: 100px;
			width: 100%;
			
			border-radius: 20px;
			margin-bottom: 20px;
			margin-left: -30px;
			box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
			overflow: hidden;
		}

		.menu__tile {
			text-decoration: none;
			color: #000;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
			.tile-annex{
				display: flex;
				flex-direction: column;
				margin-left: 20px;
				width: 80%;
				
				margin-top: 18px;

				
				
				
				
			}
			.tile-annex h2{
				font-size: 15px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				
			}
				.tile-annex p{
					font-size: 11px;
					margin-top: -7px;
					font-weight: lighter;
					white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				}

					.tile-annex-prix{
						width: 10%;
						padding-top: 25px;
						font-weight: bold;
						font-size: 20px;
					
						margin-left: -90px;
						padding-left: 8px;
					}
					
.menu__tile:hover .tile-annex-prix{
		transform: translateX(65%);
	}
	.tile-annex-prix{
		transform: translateX(150%);
		transition: transform 400ms;

	}
	.tile-annex{
		
		transform-origin: left;
		transition: width 400ms;
	}
	.menu__tile:hover .tile-annex{
		width: 50%;

	}
.menu__tile:hover .tile-check{
	transform: translateX(0%);	
}
.menu__tile:hover.tile-check i{
	transform: rotate(360deg);
}


.tile-check{
	background: #99E2D0;
	width: 20%;
	height: 100px;
	transform: translateX(100%);
	transition: transform 400ms;

	
	
}
	.tile-check i{
		font-size: 15px;
		background-color: #fff;
		border-radius: 50%;
		color: #99E2D0;
		
		margin-top: 32px;
		margin-left: 15px;
		padding: 10px;
		transform: rotate(0deg);
		transition: transform 1s ease-in-out;

	}

.order__btn_container{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
	
	.order__btn_container button{
		width:250px; 
			height:70px;
			border-radius: 30px;
			background: rgb(255,121,218);
			background: linear-gradient(196deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
			color: white;
			font-size: 20px;
			border: none;
			box-shadow: 1px 7px 5px -3px rgba(0,0,0,0.23);
	}	

	@media   (max-width: 340px){
		.resto_title{
			padding-left: 5px;
			font-size: 20px;
		}
	}

	@media (min-width: 600px) and (max-width: 800px){
		.back_to_index{
			margin-top: 32px;
		}
		.logo{
			margin-left: 7%;
		}

		.footer__logo{

		margin-left: -22px !important; 
	}
	.footer__container{
		display: flex;
		flex-direction: column;
		
		text-align: center;

	}
	.footer__container ul{
		margin-left: -50px;
	}
	}
@media (min-width: 801px){
	.header__logo_container{
		justify-content: flex-start;
	}
	.logo{
		margin-left: 120px;
		margin-top: 30px;
	}
	.back_to_index{
	margin-top: 25px;	
	}
	.background_image{
		height: 500px;
	}
	.resto_title{
		width: 95%;
		margin-top: -84px;
		padding-left: 40%;
	}
	.ac-footer{
		margin-top: -47px;
		margin-left: 0%;
	}
	.menu__container{
		display: flex;
		flex-direction: row;
	}
	.menu__bloc{
		flex-direction: column;
	}
	.menu__title{
		margin-left: 17%;
	}
	.menu__tile{
		width: 300px;
	}
	#menu__tileNote{
		width: 200px;

	}
	#menu__tileNote .tile-annex{
		width: 70%;
		overflow-wrap: break-word;	 
	}
	#menu__tileNote a:hover .tile-annex{
		width: 40%;
	}
	#menu__tileNote .tile-check i{
		margin-left: 4px;
	}
	
	#menu__listNote{
		justify-content: space-between;
		margin-left: 40px;
	}

	

	.footer__logo{
		margin-left: -13px;
	}
	.footer__container{
		display: flex;
		flex-direction: column;
		
		text-align: center;

	}
	.footer__container ul{
		margin-left: -50px;
	}
}
}