.menu__tile{
	overflow: hidden;
}

.menu__tile a:active .tile-check {
	transform: translateX(0%);
		
}
	.menu__tile a:active .tile-annex-prix{
		transform: translateX(0%);
	}
	.tile-annex-prix{
		transform: translateX(100%);
		transition: transform 400ms;
	}
.menu__tile a:active .tile-check i{
	transform: rotate(360deg);
}

.tile-check{
	background: #99E2D0;
	width: 20%;
	height: 100px;
	transform: translateX(100%);
	transition: transform 400ms;
	
}
	.tile-check i{
		font-size: 20px;
		background-color: #fff;
		border-radius: 50%;
		color: #99E2D0;
		
		margin-top: 30px;
		margin-left: 20px;
		padding: 10px;
		transform: rotate(0deg);
		transition: transform 1s ease-in-out;

	}


